.ArticlePage {
  height: 100vh;
}

.userinput {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.name {
  margin: 10px;
  background-color: transparent;
  color: white;
  width: 45%;
}
.name::placeholder {
  color: rgb(192, 188, 185);
}

.article {
  margin: 10px;
  background-color: transparent;
  color: white;
  width: 85%;
  height: 150px;
  resize: vertical;
}

.article::placeholder {
  color: rgb(192, 188, 185);
}

.ArticleTitle {
  color: white;
  margin: 4%;
  text-align: center;
}

.explore{
  color: white;
}